body{
    font-family: Helvetica, sans-serif;
    margin: 0px;
}

.header{
    display: flex;
    flex-direction: column;
    padding: 52px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-color: #1f2937;
    color: white;
}

.title{
    font-weight: bolder;
    font-size: 24px;
}

.links{
    display:flex;
    gap: 22px;
}

.lower-header{
    display: flex;
    justify-content: space-between;
    flex-basis: auto;
    padding: 18px;
    flex-shrink: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    max-width: 1000px;
}

.left-lower-header{
    display: flex;
    flex-direction: column;
    flex-basis: 300px; 
}

.lower-img{
    border-radius: 58px;
}

.lower-title{
    font-size: larger;
    font-weight: 900;
}

.upper-header{
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    
    justify-content: space-between;
    width: 1000px;
}

.logo{
    display: flex;
    overflow: hidden;
}

.center{
    text-align: center;
}

.img   {
    display: flex;
    max-width: 100%;
    flex-shrink: 1;
}

.button-header{
    width: 150px;
    height: 32px;
    align-self: center;
    border-radius: 32px;
}

.mid-title{
    font-size: x-large;
    text-align: center;
    font-weight: bolder;
}

.mid-upper{
    border: solid rgb(255, 96, 221);

}
.boxes{
    display: flex;
    flex-basis: 50px;
    justify-content: space-around;
    flex-wrap: wrap;

    gap:32px;
    background-color: white;

    border: solid rgb(26, 255, 129);
}

.info-box1,
.info-box2,
.info-box3,
.info-box4{
    display: flex;
    flex-direction: column;
    overflow: hidden;

    justify-content: center;
    align-items: center;
    flex-basis: 200px;
    flex-shrink: 0;

    
    border: solid blue;
}

.box-click1,
.box-click2,
.box-click3,
.box-click4{
    border-radius: 56px;
    overflow: hidden;
    border: solid rgb(117, 255, 186);
    width: 150px; /* set the width of the container */
    height: 210px; /* set the height of the container */
}

.img1{
    position: relative;
    top: auto;
    right: 110px;
}

.img2{
    position: relative;
    top: -10px;
    left: -30px;
    max-width: 235%;
    content: "yay!";
}

.img3{
    position: relative;
    top: 0px;
    left: -35px;
    width: auto;
    max-height: 300px;
}

.img4{
    position: relative;
    top: 0px;
    left: -30px;
    max-width: 255%;
    height: auto;
}

.quote-section{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    padding: 98px;
  
    background-color: #e5e7eb;


    border: solid rgb(117, 255, 186);
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.bold{
    font-weight: bold;
}

.call-action{
    font-size: medium;
    margin: 5px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 52px;

    gap:32px;
    border: solid red;
}

.text{
    margin: 5px;
    font-size: small;
}

.bottom-box{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #3882f6;
    padding: 18px;
    border-radius: 12px;
    gap: 24px;

    border: solid purple
}

.contact{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    opacity: 1;
    border-radius: 8px;
    width: 80px;
    height: 25px;
}

a{
   text-decoration: none;
   color: white;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    color: white;
    background-color: #1f2937;
}